*.mat
!my/ssf_debug_13_current_result.mat
!my/ssf_a_1_lattice_snr.mat
!my/ssf_a_3_lattice_snr.mat
my/from_diego/Filter.fig
*.asv
single-polarization/results/*
single-polarization/simulationForChayan/OOK+OOK/cluster
single-polarization/simulationForChayan/QAM+QAM/cluster
single-polarization/simulationForChayan/OOK+OOK/*.zip
single-polarization/simulationForChayan/OOK+OOK/resultsLevel1-1st-run
single-polarization/simulationForChayan/OOK+OOK/resultsLevel1-2nd-run
single-polarization/simulationForChayan/OOK+OOK/cluster_2nd_run
single-polarization/simulationForChayan/QAM+QAM/cluster-2nd-run
*.zip
single-polarization/simulationForChayan/OOK+OOK/cluster-3rd-run/
single-polarization/simulationForChayan/QAM+QAM/cluster-4th-run/
single-polarization/simulationForChayan/QAM+QAM/cluster-5th-run/
single-polarization/simulationForChayan/OOK+OOK/resultsLevel1-partial-4/
!single-polarization/simulationForChayan/interleave3OOK/*.zip
!single-polarization/simulationForChayan/interleave3OOK/*.csv
single-polarization/simulationForChayan/interleave3OOK-2/cluster_powerOOK_0dBm_channelSpacing_150GHz/