*.mat
!my/ssf_debug_13_current_result.mat
!my/ssf_a_1_lattice_snr.mat
!my/ssf_a_3_lattice_snr.mat
my/from_diego/Filter.fig
*.asv
single-polarization/results/*
single-polarization/simulationForChayan/OOK+OOK/cluster
single-polarization/simulationForChayan/QAM+QAM/cluster